
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.brownLink {
	background-color:#87827d;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
text-indent:0;
	border:2px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
height:33px;
	line-height:33px;
width:147px;
	text-decoration:none;
	text-align:center;
}.brownLink:hover {
	background-color:#c7c0b9;
}.brownLink:active {
	position:relative;
	top:1px;
}


.whiteLink {
	background-color:#ffffff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
text-indent:0;
	border:2px solid #000000;
	display:inline-block;
	color:#000000;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
height:33px;
	line-height:33px;
width:99px;
	text-decoration:none;
	text-align:center;
}.whiteLink:hover {
	background-color:#ebe6e2;
}.whiteLink:active {
	position:relative;
	top:1px;
}
