
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.firstLink {
	background-color:#ffffff;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	border:2px solid black;
	display:inline-block;
	color:black;
	font: {
		size: 15px;
		weight: normal;
		style: normal;
	}
	height:33px;
	line-height:33px;
	letter-spacing: 0.1em;
	width: 181px;
	text: {
		decoration: none;
		align: center;
		indent:0;
	}
	&:hover {
		box-shadow: 12px 11px 0px -3px #bdaebd;
	}
	&:active {
		position:relative;
		top:1px;
	}
}

.secondLink {
	background-color:#ffffff;
	-webkit-border-radius:11px;
	-moz-border-radius:11px;
	border-radius:11px;
	border:2px solid #000000;
	display:inline-block;
	color:#000000;
	margin-top: 17px;
	font: {
		size: 15px;
		weight: normal;
		style: normal;	
	}
	height:33px;
	line-height:33px;
	letter-spacing: 0.1em;
	width:123px;
	text: {
		decoration:none;
		align:center;
		indent:0;
	}
	&:hover {
		box-shadow: 12px 11px 0px -3px #bdaebd;
	}
	&:active {
		position:relative;
		top:1px;
	}
	
}

