@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import "_linkStyle.scss";



/* 전역 클래스  */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
header,
main {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 160px;
  height: 44px;
  margin: 2px 0px 1px 10px;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -0.015em;
}
h4 {
  font-size: 27px;
}

h5 {
  font-size: 19px;
  color: pink;
  padding: 0px;
  margin: 0 0 5px 0;
}

// mixin

@mixin flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin bottom-btn {
  position: relative;
  bottom: 20px;
}

// variable
$main-brown: #89470B;
$link-hover: #968a89;
$btn-bg: #4d2b07;

/* header design */

nav {
  @include flex-box;
}
  header ul {
      @include flex-box;
      a {
        text-decoration: none;
        color:inherit;
        border-radius: 16px;
        padding: 0px 8px 2px 6px;
        &:hover {
          box-shadow: 15px 13px 0px -4px #bdaebd;
        }
        li {
          list-style: none;
          margin-left: 20px;
          font-weight: bold;
          font-size: 19px; 
          color: black;
          position: relative;
          bottom: -3px;
          
        }
      }
    }
    

/* buttons */
button {
  cursor: pointer;
  text-transform: lowercase;
  margin: 0.5rem;
  padding: 0.5em 1.25em;
  letter-spacing: 0.15em;
  font: {
    size: 14px;
    weight: bold;
  }
  border: 2px solid #333;
  border-radius: 11px;
}

.logInBtn {
  background: white;
}
.registerBtn {
  background: $btn-bg;
  color: white;
}
.logInBtn:hover,
.registerBtn:hover
 {
  -moz-box-shadow: 7px 8px 0px -2px $link-hover;
	-webkit-box-shadow: 7px 8px 0px -2px $link-hover;
	box-shadow: 7px 8px 0px -2px $link-hover;
}

/* first row */

.firstRow {
  display: flex;
  flex-direction: row;

  section {
    width: 50%;
    height: 600px;
  }
  article {
    height: 300px;
  }
  .firstRow-item1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 49px 80px;

    h1 {
      font-size: 37px;
      line-height: 39px;
    }
    .whiteLink {
      @include bottom-btn;
    }
  }
  .firstRow-item2 {
    display: flex;
    
    video {
      width: 100%;
    }
    .whiteLink {
      @include bottom-btn;
    }
  }
  
}

.secondRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
 
  .secondRow-item1,
  .secondRow-item2  {
  @include flex-box;

 // border: 1px solid blue;
  .whiteLink {
    @include bottom-btn;
  }
}
  article {
  // background: lightblue;
 // border: 1px solid red;
  width:50%;
  padding:10px;
}
}

.partnership {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
	width: 100%;
	height: 400px;
  h2 {
    top: -20px;
  }
  .partner-list1,
  .partner-list2 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;

    .partner-item {
      width: 150px;
      height: 80px;
      background: lightgray;
      margin: 10px;
    }
  }
}

footer {
  nav {
  .nav-list {
    display: flex;
    margin-left: 200px;
      ul { list-style: none; }
    }
  .user-info {
    display: flex;
    flex-direction: column;
  }
  }
  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    .sns {
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        margin-right: 10px;
      }
      img {
        margin:3px;
      }
    }
    }
  }
